.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;
}

.hero-bar-blue {
	background-color: #2e8bcc;
}

.hero-bar-black {
	background-color: #34495e;
}

.hero-bar-text {
	color: #fff;
}

.hero-thumbnail {
	background-color: #f8f8f8;
	border: #f8f8f8;
}

.hero-content {
	height: 120px;
}

.hero-title {
	height: 80px;
}

a, a:hover, a:focus {
	text-decoration: none;
}

svg {
	vertical-align: middle;
position: relative;
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}
svg:not( :root ){
    weight: auto; 
    vertical-align: middle; 
}