<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">12345678</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/isdsp_dev</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="cn.edu.sjtu.iasdsp.model.NodeInformations"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WikiRelationships"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.NodeFunctions"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.EdgeAttributes"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.HomelandTopics"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowprocessecarule"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WikiReferences"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WorkflowComments"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processflowobjects"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WikiAndWorkflowInformations"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Systemschema"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processapplication"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowapplication"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.SchemaMigrations"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WorkflowCategories"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WorkflowTags"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowflowobjects"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processprocessecarule"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.ProcessInformations"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.TestAlgorithms"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.HomelandReplies"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processactivityinputmapping"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowflowobjectcontrol"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowactivityinputmapping"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.NodeOptionValues"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.ProcessResults"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Systemxmldocument"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.TaskPerformances"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowflow"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WorkflowPrivileges"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WorkflowInformationAndTags"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.UserPictures"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.PersonInformations"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processcondition"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowcondition"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processactivityinformation"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowevent"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processrepeatedinformation"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processinherentvariable"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Caseinformation"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.ArffTypes"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Systemapplicationinformation"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowactivityinvokingapplication"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.UploadFiles"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processflowobjectcontrol"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowactivityinformation"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processactivityinvokingapplication"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.DownloadFiles"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.TaskCategories"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowobject"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.NodeTypes"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Users"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processinformation"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.SharedProcessPrivileges"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processobject"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.TaskCategoryAndWikis"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processcontrolflowcondition"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.NodeCategories"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.ProcessFiles"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WorkflowInformations"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Packageinformation"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processflow"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowinherentvariable"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Javaclassmethod"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.NodeOptions"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processevent"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.NodeOptionChoices"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WikiPages"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.DepartmentInformations"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Separators"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Processlogs"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.NodeOptionTypes"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.WikiPageVersions"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.Workflowcontrolflowcondition"/>
        <mapping class="cn.edu.sjtu.iasdsp.model.HomelandNodes"/>
    </session-factory>
</hibernate-configuration>
