<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">12345678</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/isdsp_dev</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="cn/edu/sjtu/iasdsp/model/NodeInformations.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WikiRelationships.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/NodeFunctions.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/EdgeAttributes.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/HomelandTopics.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowprocessecarule.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WorkflowComments.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processflowobjects.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WikiAndWorkflowInformations.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Systemschema.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processapplication.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowapplication.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/SchemaMigrations.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WorkflowCategories.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WorkflowTags.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowflowobjects.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processprocessecarule.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/ProcessInformations.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/TestAlgorithms.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/HomelandReplies.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processactivityinputmapping.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowflowobjectcontrol.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowactivityinputmapping.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/NodeOptionValues.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/ProcessResults.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Systemxmldocument.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/TaskPerformances.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowflow.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WorkflowPrivileges.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WorkflowInformationAndTags.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/UserPictures.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/PersonInformations.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processcondition.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowcondition.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processactivityinformation.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowevent.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processrepeatedinformation.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processinherentvariable.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Caseinformation.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/ArffTypes.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Systemapplicationinformation.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowactivityinvokingapplication.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/UploadFiles.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processflowobjectcontrol.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowactivityinformation.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processactivityinvokingapplication.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/DownloadFiles.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/TaskCategories.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowobject.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/NodeTypes.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Users.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processinformation.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/SharedProcessPrivileges.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processobject.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/TaskCategoryAndWikis.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processcontrolflowcondition.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/NodeCategories.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/ProcessFiles.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WorkflowInformations.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Packageinformation.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processflow.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowinherentvariable.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Javaclassmethod.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/NodeOptions.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processevent.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/NodeOptionChoices.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WikiPages.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/DepartmentInformations.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Separators.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Processlogs.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/NodeOptionTypes.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/WikiPageVersions.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/Workflowcontrolflowcondition.hbm.xml"/>
        <mapping resource="cn/edu/sjtu/iasdsp/model/HomelandNodes.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
